html{
    background-color: black;
}

#meme{
    height:fit-content ;
    width:fit-content ;
    border: 5px solid white;
    margin-left: 25%;
    margin-top: 15%;
}

#text{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
}

h1{
    font-size: 3rem;
    font-weight: bolder;
    
}

h3{
    font-size: 1rem;
}
